{{outlet}}

        <div class="row">
          {{#each model.qi.giftsByGroups as |group|}}

          <div class="col s12 m6 l4">
            <div class="card-panel white">
              <h5 class="pink-text text-accent-3">
                {{group.value}}
              </h5>
              {{#each group.items as |gift|}}

              <h5>{{gift.name}} - {{if gift.blockedbycontact gift.blockedbycontact 'open'}}</h5>
              {{!-- <p>
                {{input type="checkbox" checked=gift.blockedby disabled=gift.blockedbycontact id=gift.name}}
                <label for={{gift.name}}>{{gift.name}}</label>
              </p> --}}

              {{/each}}
            </div>
          </div>

          {{/each}}
        </div>


 Create a form here to create a new gift item

 {{input type="text" value=model.newgift.name placeholder="Name of the gift item" }}
 {{input type="text" value=model.newgift.type placeholder="Gift type" }}
 {{input type="number" value=model.newgift.maxcount placeholder="Maximum Count to allow" }}

  <button {{action "addnewgift" model.newgift}} class="btn btn-sm btn-primary">Save</button>
